[user]
	email = henriquepw4@gmail.com
	name = Henrique Miranda
[core]
  compression = 9
  preloadIndex = true
[pull]
  default = current
[push]
  default = current
	autoSetupRemote = true
  followTags = true
[rerere]
	enabled = true
[init]
	defaultbranch = main
[core]
	ignorecase = false
[status]
  branch = true
  showStash = true
  showUntrackedFiles = all
[branch]
  sort = -committerdate
[tag]
  sort = -taggerdate
